body{
    Background: gradient( violet hsl(273, 75%, 66%) blue hsl(240, 73%, 65%));
}

.contenedor{
    display: flex;
    max-width: 1440px;
    margin: auto;
}

.attribution{
    display: flex;
    align-content: flex-end;
    justify-content: center;
}

.contenedor__contenido{
    width: 50%;
}